[VulnDB]
consumer_key= YOUR_API_CONSUMER_KEY
consumer_secret= YOUR_API_CONSUMER_SECRET
json_dir= /data/vulndb_json/
page_size= 100
request_token_url= https://vulndb.cyberriskanalytics.com/oauth/request_token
working_dir= /tmp/

[RedSeal]
username= YOUR_SUPPORT_EMAIL
password= YOUR_SUPPORT_PASSWORD
trl_url= https://www.redsealnetworks.com/login/trl/RedSeal_TRL_7-0-latest.gz

[Mongo]
hostname= localhost

[S3]
bucket_name= YOUR_S3_BUCKET
region= YOUR_S3_BUCKET_REGION
key= KEY_TO_YOUR_REDSEAL_TRL
